table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

.mat-expansion-panel-header-title > .mat-icon {
  transition: 0.4s;
}
.mat-content, .mat-expansion-panel-header-title {
  align-items: center;
}
